{% extends "base.html" %}
{% block title %}Проекты{% endblock %}
{% block content %}
<section>
    <h1>Проекты</h1>
    <div class="h-scroll-wrapper">
    <button class="scroll-btn prev" aria-label="Назад">‹</button>
    <div class="h-scroll">
        {% for project in projects %}
        <a class="card project-card" href="{{ url_for('project_detail', slug=project.slug) }}">
            <img src="{{ url_for('static', filename=project.image) }}" alt="{{ project.title }}">
            <h3>{{ project.title }}</h3>
            <p>{{ project.short_description }}</p>
        </a>
        {% endfor %}
    </div>
        <button class="scroll-btn next" aria-label="Вперёд">›</button>
    </div>
</section>
{% endblock %}